.swiper-slide img {
  /* transform: scale(1.3); */

  transition: all 0.3s ease-out !important;
}
.swiper-slide:hover img {
  transform: scale(1.3) translateY(-20px) !important;
  opacity: 0.3;
}
.swiper-slide {
  overflow: hidden;
  position: relative;
}
.my-swiper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
.name {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  transform: translateY(-20px);
  opacity: 0;
}
.swiper-slide:hover .name {
  opacity: 1;
}
.ant-card-meta-description {
  opacity: 0;
}

.movie_card {
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  position: relative;
  border-radius: 0.75rem;
}
.movie_card img {
  transition: all 0.3s ease-out;
}
.movie_card:hover img {
  transform: scale(1.3) translateY(-20px);
  opacity: 0.3;
}
.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-aligh: center;
  color: #fff;
  font-size: 1rem;
}
.description h3 {
  margin: 0 0 20px;
  transform: translateY(10px);
  opacity: 0;
}
.stars h3 {
  text-align: center;
}
.description .stars {
  opacity: 0;
}

.movie_card:hover .description h3 {
  opacity: 1;
}
.movie_card:hover .stars {
  opacity: 1;
}
